
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="masthead">
  <img src="/images/Graphene_WS2.png"/>
  </div>
<header class="site-header">
  <div class="wrapper">
    <a class="icon">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          width="255px" height="297.667px" viewBox="0 0 255 297.667" enable-background="new 0 0 255 297.667" xml:space="preserve">
      <line stroke="#fdfdfd" stroke-width="6" x1="72.666" y1="166" x2="252.666" y2="166"/>
      <line stroke="#fdfdfd" stroke-width="6" x1="72.666" y1="196" x2="252.666" y2="196"/>
      <line stroke="#fdfdfd" stroke-width="6" x1="72.666" y1="198.75" x2="72.666" y2="163.25"/>
      <line stroke="#fdfdfd" stroke-width="6" x1="252.666" y1="198.75" x2="252.666" y2="163.25"/>
      <line stroke="#fdfdfd" stroke-width="6" x1="162.666" y1="199" x2="162.666" y2="233"/>
      <path stroke="#fdfdfd" stroke-width="6" d="M71.222,154.444c4.021,1.19,14.739-4.243,21.354-3.576
        c7.736,0.779,14.53,5.146,23.086,3.63c7.909-1.401,12.829-6.324,22.227-4.498c8.385,1.63,12.909,6.136,22.222,6.667
        c17.309,0.987,33.525-9.657,50.864-5.334c9.057,2.258,11.765,8.746,22.465,5.362c5.082-1.607,16.071-13.262,18.894-4.473"/>
      <line stroke="#fdfdfd" stroke-width="6" x1="138.666" y1="233" x2="186.666" y2="233"/>
      <line stroke="#fdfdfd" stroke-width="6" x1="146.666" y1="245" x2="178.666" y2="245"/>
      <line stroke="#fdfdfd" stroke-width="6" x1="162.666" y1="244.299" x2="162.666" y2="297.7"/>
      <line stroke="#fdfdfd" stroke-width="6" x1="161.722" y1="294.833" x2="5.611" y2="294.833"/>
      <line stroke="#fdfdfd" stroke-width="6" x1="5.666" y1="297.667" x2="5.666" y2="3.667"/>
      <line stroke="#fdfdfd" stroke-width="6" x1="2.666" y1="5" x2="164.666" y2="5"/>
      <line stroke="#fdfdfd" stroke-width="6" x1="162.666" y1="2" x2="162.666" y2="58"/>
      <circle stroke="#fdfdfd" stroke-width="6" cx="145.277" cy="63" r="3"/>
      <circle stroke="#fdfdfd" stroke-width="6" cx="156.777" cy="63" r="3"/>
      <circle stroke="#fdfdfd" stroke-width="6" cx="167.777" cy="63" r="3"/>
      <circle stroke="#fdfdfd" stroke-width="6" cx="179.277" cy="63" r="3"/>
      <circle stroke="#fdfdfd" stroke-width="6" cx="151.277" cy="72.667" r="3"/>
      <circle stroke="#fdfdfd" stroke-width="6" cx="162.277" cy="72.667" r="3"/>
      <circle stroke="#fdfdfd" stroke-width="6" cx="173.277" cy="72.667" r="3"/>
      <circle stroke="#fdfdfd" stroke-width="6" cx="157.466" cy="82.667" r="3"/>
      <circle stroke="#fdfdfd" stroke-width="6" cx="167.866" cy="82.667" r="3"/>
      <circle stroke="#fdfdfd" stroke-width="6" cx="162.666" cy="93" r="3"/>
      </svg>
   
    </a>
    <a class="site-title" href="{{ site.baseurl }}/">
      <h1>{{ site.title }}</h1>
    </a>
    <!--<a class="site-title">
      <h1 href="{{ site.baseurl }}/">{{ site.title }}</h1>
    </a>-->


    <nav class="site-nav">

      <a href="#" class="menu-icon menu.open">
        <svg viewBox="0 0 18 15">
          <path fill="#ffffff;" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
          <path fill="#ffffff;" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
          <path fill="#ffffff;" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
        </svg>
      </a>  

    <div class="trigger">

 		{% include nav.html  %}

     </div>  
    </nav>

  </div>
  <link rel="stylesheet" href="{{ "/assets/css/slider/ideal-image-slider.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/slider/themes/default.css" | relative_url }}">
</header>