<script src="{{ "/assets/js/slider/ideal-image-slider.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/slider/iis-bullet-nav.js" | relative_url }}"></script>
<script src="{{ "/assets/js/slider/iis-captions.js" | relative_url }}"></script>
<script>
var slider1 = new IdealImageSlider.Slider({
    selector: '#slider1',
    height: 'auto',
    //maxHeight: 400,
    });
slider1.addCaptions();
slider1.start();
var slider2 = new IdealImageSlider.Slider({
    selector: '#slider2',
    height: 'auto',
    effect: 'fade',
    });
slider2.addBulletNav();
slider2.addCaptions();
slider2.start();
var slider3 = new IdealImageSlider.Slider({
    selector: '#slider3',
    height: 'auto',
    disableNav: true,
    });
slider3.start();
</script>
